.menu-main {
  transition: all 0.3s ease;
  &.collapsed-close {
    width: 80px;
  }
  &.collapsed-open {
    width: 200px;
  }
  &.mobile {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    &.mobile-close {
      width: 200px;
      transform: translateX(-200px);
    }
    &.mobile-open {
      width: 200px;
      background: #fff;
      z-index: 3;
      transform: translateX(0);
    }
  }
}
.menu-box {
  height: 100%;
  position: fixed;
  top: 0;
  display: inline-block;
  padding: 56px 0 50px;
  border-right: 1px solid rgba(5, 5, 5, 0.06);
  .scrollbar {
    box-sizing: border-box;
    > div:nth-child(1) {
      overflow-x: hidden !important;
      overflow-y: auto;
    }
  }
  .collapsed-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu-list.ant-menu-inline {
    width: 200px;
  }
  .ant-menu.ant-menu-root.menu-list {
    border-inline-end: 0;
  }
  .ant-menu {
    background: transparent;
  }
}
.menu-mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.45);
}
